<%validation_error.forEach(element=>{if(element.param==="username"){
    <div class="col-md-12">
      <div style="display:block;" class="alert alert-danger" id="username">element.msg</div>
    </div> 
}});%> 